<ul class="list-group">
    <li class="list-group-item">Home Page</li>
    <li class="list-group-item">Page 1</li>
    <li class="list-group-item">Page 2</li>
    <li class="list-group-item">Page 3</li>

</ul>

