@model WorkerCreateVM

<form asp-action="Index" asp-controller="Worker" method="post">

    <input type="text" asp-for="Name" /><br />
    <input type="text" asp-for="Surname"/><br />
    <button>Send</button>
</form>