@*-------Clientdan datalari Form ile almaq------*@

@*@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers

    <form asp-action="GiveData" asp-controller="Product" method="post">
       <input type="text" name="txtValue1" /><br />
       <input type="text" name="txtValue2" /><br />
       <input type="text" name="txtValue3" /><br />
       <button>Send</button>
    </form>*@

@*---- Model binding ile---- *@
@*@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers

    @model GencayExample2.Models.Product

    <form asp-action="GiveData" asp-controller="Product" method="post">
       <input  type="text" asp-for="ProductName" placeholder="Product Name"/>
       <br />
       <input type="number" asp-for="Quantity" placeholder="Quantity"/>
       <br />
       <button>Add Product</button>
    </form>*@

@*-----Ajax(jquery) ile Clienatdan datalari almaq-----*@
@*@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelper

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <button id="btnSend" >Send</button>

    <script>

        $("#btnSend").click(() =>
        {
            $.post("https://localhost:44306/product/givedata", {a:"a data",b:"b data"})
        })

    </script>*@

@*----- Tuple ile datanin post edilmesi -------*@
@*@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelper
    @model (GencayExample2.Models.Product product,GencayExample2.Models.User user)

    <form asp-action="CreateProduct" asp-controller="Product">

        <input type="text" asp-for="product.ProductName" placeholder="Product Name" /> <br />
        <input type="text" asp-for="user.Name" placeholder="User Name" />
        <button>Send</button>

    </form>*@

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@model GencayExample2.Models.Product

<form asp-action="CreateProduct" asp-controller="Product" method="post">

    <input type="text" asp-for="ProductName" placeholder="Product Name" /> <span asp-validation-for="ProductName"></span>
    <br />
    <input type="number" asp-for="Quantity" placeholder="Quantity" /><span asp-validation-for="Quantity"></span>
    <br />
    <input type="email" asp-for="Email" placeholder="Email" /><span asp-validation-for="Email"></span>
    <br />
    <button>Send</button>

</form>
